/*-- Defaults --*/
html, ul, li, body, main, section, header, div, article, aside, figure, figcaption, image, iframe, h1, h2, h3, h4, h5, h6, p, table, blockquote {
  margin: 0;
  font-family: 'Mulish';
}

/*-- primary variables --*/
:root {
  --custom_blue: #073063;
  --font: 'Mulish', sans-serif;
  font-size: 62.5%;
}

/*
import the font for OLD BAY, serve fonts */
@font-face {
  font-family: 'Swiss';
  src: url(/fonts/swiss.otf);
}

figcaption{
  font-weight:330;
  margin-top: .5em;
  text-align: left;
  font-size: 1.9rem;
  color: #242526;
}

img{
  font-weight:330;
  text-align: left;
  font-size: 1.9rem;
  color: #242526;
}

body {
  color: black;
  font-size: 2rem;
  width: 98vw;
  margin: auto;
  line-height: 1.3;
  font-weight: 500;
  font-family: var(--font);
  font-weight: 375;
  padding: 2rem 0;
}

.main-nav, h1, h2, h3, h4, h5, h6, .btn, blockquote {
  font-family: 'Merriweather', 'serif';
}

body {
  background:#EEEBEC;
}

.old-bay-name{
  color:white;
  font-family: 'Swiss';
}

.main-nav {
  border-top-width: 1em;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
  border-top-color: #CF352D;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

nav, footer{
  background-color:  var(--custom_blue); 
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  height: 93.75px;
  width: 102.75px;
}

.brand h1 {
  padding-top: 1.2rem;
  letter-spacing: .25rem;
  font-family: 'Swiss';
  font-size: 250%;
}

.nav-links {
  padding-top: 1.2rem;
}

.nav-links a {
  margin-left: 1.5rem;
  transition: var(--reg);
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white; 
  text-decoration: none;
}

a:hover {
  color: #F1C38D;
  text-decoration: none;
}

a:active, a.active {
  color: #F1C38D; 
  text-decoration: underline;
}

main img {
  width: 100%;
  height: auto;
}

header {
  margin: 3rem auto;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .25em;
}

/*-- Footer Styles --*/
footer {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  direction: row;
  justify-content: center;
  font-size: 1.4rem;
  color: white;
  margin-top: 2rem;
}

.bottom-footer{
  border-bottom-width: 1em;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
  border-bottom-color: rgb(32, 30, 30);
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 1rem;  
}

.container {
  position: relative;
  text-align: left;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  box-shadow: 5px -20px 40px 5px  rgb(247, 237, 209); /* x, y, blur, size */
  border-radius: 0em .5em .5em 0em;
  align-items: left;
  display: inline-block;
}

.headline i, .headline h1{
  display: inline-flex;
}

.headline i{
  justify-items: center;
}

.headline{
  padding: 1rem;
  justify-content: left;
}

.trifecta{
  width: 100%;
  background-color: var(--custom_blue);
  display: inline-flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  box-shadow:0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05);

}

.trifecta-image{
  width:30%;
}

.history{
 background: linear-gradient(0deg, rgb(157, 119, 22) 0%, rgba(234,186,67,1) 30%);
  border-radius: .5em;
  text-align: justify;
  padding: 1em;  
  height: 100%;
  box-shadow:0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05);

}

.recipe-card{
  order: 1;
  display: flex;
  flex-direction: column;
  border: dashed 3px  var(--custom_blue);
  border-radius: .5em;
  padding: 2rem;
  margin: 0;

  box-shadow:0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05);

}

.general-info{
  display: flex;
  justify-content: space-between;
}

li{
  list-style-type: none;
  list-style-position: inside;
  text-indent: -2em;
  padding-left: -2em;
  margin: 0 0 .5rem 0;

}

 .specific{
  margin-top: 3rem;
  margin-bottom: 0rem;
  
}

.another{
  display: flex;
  margin-top: 0rem;
  margin-bottom: 0rem;
  vertical-align: center;
  align-items: center;
}

.headline h1{
  margin-right: .75rem;
}

button{
  border-radius: 1rem;
  background-color:#145099;
  outline: none;
  color: white;
  padding: .5em;
  border: none;
  opacity: 1;
  box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07)
}


button:hover{
  box-shadow: none;
  background-color: var(--custom_blue);
  transition-delay: .1s;

}

/* zoom-in adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover */
.zoom-in {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom-in:hover {
  -ms-transform: scale(1.23); /* IE 9 */
  -webkit-transform: scale(1.23); /* Safari 3-8 */
  transform: scale(1.23); 
}

.icon{
  max-height: 4rem;
  max-width: 4rem;
  display: flex;
  margin-right: .75rem;

}

.h2wicon{
  display:flex;
  align-content: center;
}

.outer {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1rem;
}

.inner {
  max-width: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.history-img{
  border-radius: .5em;
  float: left;
  max-width: 100%;
  height: auto;
}

/* resource for flash: https://codepen.io/nxworld/pen/ZYNOBZ */
.history-img:hover{
  opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
  
}

@-webkit-keyframes flash {
	0% {opacity: .6;}
	100% {	opacity: 1;}
}
@keyframes flash {
	0% {opacity: .6;}
	100% {	opacity: 1;}
}

section {
  display: grid;
  grid-gap: 3.2rem;
  margin: 3rem auto;
}

section.even {
  margin: 0;
  grid-template-columns: 1fr;
}

.gen-inf{
  grid-template-columns: 1fr 1fr 1fr;
  background-color: grey;
  border-radius: .25em;
  padding:none;
  outline-style: solid;
  outline-width: 1rem;
  outline-color: grey;
  margin-bottom: auto;
}

ol{
  margin-top: 0;
}

.space{
  margin-bottom: 1rem;
}

/*-- Media Queries --*/
@media screen and (min-width: 550px) {
  body {width: 98vw;}
}
@media screen and (min-width: 768px) {
  body {width: 86vw;}
  blockquote {width: 50vw;}
}
@media screen and (min-width: 990px) {
  body {width: 84vw;}
  .main-nav {flex-direction: row; justify-content: space-between;}
  section.odd {grid-template-columns: 1fr 1fr;}
  section.even {grid-template-columns: 1fr 1fr;}
  .outer {order: inherit;}
}
@media screen and (min-width: 1280px) {
  body {width: 80vw;}
  blockquote {width: 33vw;}
}
@media screen and (min-width: 1440px) {
  body {width: 78vw;}
  section.odd {grid-template-columns: 8fr 4fr;}
  section.even {grid-template-columns: 4fr 8fr;}
}




