/* html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
  align-items: center;
}
body {
  color: blanchedalmond;
  font-size: 2rem;
  width: 98vw;
  margin: auto;
  line-height: 1.3;
  font-weight: 500;
  font-family: var(--font);
  padding: 2rem 0;
}
nav, footer {
  background-color: #073063; 
}



.main-nav {
  border-top-width: 1em;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
  border-top-color: #CF352D;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}



.bottom-footer {
  border-bottom-width: 1em;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
  border-bottom-color: rgb(32, 30, 30);
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  padding: 1rem;  
}

footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #d8d9d3; 
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly ; 
  list-style: none;
  margin: 0 auto; 
  padding: 1em;
}

.links {
  padding-top: 1.2rem;
  text-align: center;

}
.links a {
  margin-left: 1.5rem;
  transition: var(--reg);
}


.logo{
  padding-top: 1.2rem;
  text-align: center;
  font-size: 150%;
  text-align: center;
}

.main-nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial';
  letter-spacing: 1px;
}



nav a:link, nav a:visited {
  color: white; 
  text-decoration: none;
  
}
nav a:hover, nav a:active  {
  color: #F1C38D;
  text-decoration: none;
}
nav a.active {
  color: #F1C38D; 
  text-decoration: underline;

}


.nav ul {
  list-style: none;
  text-align: center;
}

.nav ul li {
  display: inline-block;
}



.logo {
  align-items: center;
  padding: 0;
}

*/

/*-- Defaults --*/
html, body, main, section, header, div, article, aside, figure, figcaption, image, iframe, h1, h2, h3, h4, h5, h6, p, table, blockquote {
  margin: 0;
  padding: 0;
}
/*-- primary variables --*/
:root {
  --background: #171717;
  --button: #272727;
  --text: #e9e9e9;
  --accent: #18C4F7;
  --dk-acc: #00A0D0;
  --reg: all .3s ease-in-out;
  --font: 'Fira Sans', sans-serif;
  font-size: 62.5%;
}
/*-- alternate variables
:root {
  --background: #e9e9e9;
  --button: #d1d1d1;
  --text: #171717;
  --accent: #18C4F7;
  --dk-acc: #00A0D0;
  --reg: all .3s ease-in-out;
  --font: 'Fira Sans', sans-serif;
  font-size: 62.5%;
}--*/

::selection {
  color: var(--background);
  background-color: var(--accent);
}
body {
  color: black;
  font-size: 2rem;
  width: 98vw;
  margin: auto;
  line-height: 1.3;
  font-weight: 500;
  font-family: var(--font);
  padding: 2rem 0;
}
.main-nav, h1, h2, h3, h4, h5, h6, .btn, blockquote {
  font-family: 'Luckiest Guy';
  letter-spacing: 1px;
}

/* -- Document --*/
body {
  background:#EEEBEC;
}

.old-bay-name{
  color:white;
}


.main-nav {
  border-top-width: 1em;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
  border-top-color: #CF352D;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

nav, footer{
  background-color: #073063; 
}


.brand {
  display: flex;
  align-items: center;
}
.brand img {
  height: 93.75px;
  width: 102.75px;
}
.brand h1 {
  padding-top: 1.2rem;
  letter-spacing: .25rem;
  font-family: 'Swiss 911';
  font-size: 250%;
 /* padding-left: 1.2rem;*/
}
.nav-links {
  padding-top: 1.2rem;
}
.nav-links a {
  margin-left: 1.5rem;
  transition: var(--reg);
}
a:link {
  color: var(--text);
  text-decoration: none;
}
a:visited {
  color: white; 
  text-decoration: none;
}
a:hover {
  color: #F1C38D;
  text-decoration: none;
}
a:active, a.active {
  color: #F1C38D; 
  text-decoration: underline;
}
main img {
  width: 100%;
  height: auto;

}

header {
  margin: 3rem auto;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  cursor: pointer;
  color: var(--button);
  background-color: var(--accent);
  border: none;
  border-radius: 10rem;
  padding: 1.3rem 4rem .5rem 4rem;
  transition: var(--reg);
}
.btn:hover {
  background-color: var(--dk-acc);
}
/*-- Footer Styles --*/
footer {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  direction: row;
  justify-content: center;
  font-size: 1.4rem;
  color: white;
}

.bottom-footer{
  border-bottom-width: 1em;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
  border-bottom-color: rgb(32, 30, 30);
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  padding: 1rem;  
}


.container {
  position: relative;
  text-align: left;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  width: 75%;
  display: inline;
  box-shadow: 0px -10px 40px 10px white; /* x, y, blur, size */
  border-radius: 0em .5em .5em 0em;;
}

.bottom-left i{
  display: inline-flex;
}

.bottom-left h1{
  margin-left: 2rem;
  margin-right: 2rem;
  display: inline-flex;
}


/*-- Media Queries --*/
@media screen and (min-width: 550px) {
  body {width: 98vw;}
}
@media screen and (min-width: 768px) {
  body {width: 86vw;}
  blockquote {width: 50vw;}
}
@media screen and (min-width: 990px) {
  body {width: 84vw;}
  .main-nav {flex-direction: row; justify-content: space-between;}
  section.odd {grid-template-columns: 1fr 1fr;}
  section.even {grid-template-columns: 1fr 1fr;}
  .glass-outer {order: inherit;}
}
@media screen and (min-width: 1280px) {
  body {width: 80vw;}
  blockquote {width: 33vw;}
}
@media screen and (min-width: 1440px) {
  body {width: 78vw;}
  section.odd {grid-template-columns: 8fr 4fr;}
  section.even {grid-template-columns: 4fr 8fr;}
}
